
.NavButton {
  font-size: 1rem;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.greenGymButton{
  min-height:42px;
  min-width: 42px;
}

