.FormFieldLabel {
    font-weight: bold;
    text-align: initial;
    height: 40px;
    width: 100%;
    font-size: 1em;
    margin-bottom: 5px;
  }
  
  .FormField {
    background-color: white;
    color: black;
    border: solid grey 1px;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    display: block;
    height: 40px;
    width: 100%;
  }