.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}